<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-sm">
    <span highlight>Lasdfasdfsdaforem ipsum, dolor sit amet consectetur adipisicing elit.</span> Quis voluptates,
    explicabo,
    corporis sapiente in neque cum
    ut vitae nam earum fugiat rem atque reiciendis porro optio placeat consequuntur nostrum pariatur?
  </p>
  <p class="text-sm">Numero de clientes: @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()"
      />
  }</p>
  <div>
    <app-wave-audio audioUrl="audio-test.mp3" />
  </div>
</div>
